<?xml version="1.0" ?>
<robot name="human_upper" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <static>true</static>
  </gazebo>


  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  
  
  <xacro:property name="l_neck" value="0.053" />
  <xacro:property name="head" value="0.212-${neck}" />
  <xacro:property name="l_upper_trunk" value="0.410" />
  <xacro:property name="l_lower_trunk" value="0.135" />
  <xacro:property name="l_upper_arm" value="0.65" />
  <xacro:property name="l_forearm" value="0.299" />
  <xacro:property name="l_hand" value="0.203" />
  <xacro:property name="l_thigh" value="0.449" />
  <xacro:property name="l_shank" value="0.429" />
  <xacro:property name="l_foot" value="0.06" />
  <xacro:property name="whole_body" value="1.7268" />

  <xacro:property name="w_neck" value="${l_neck/5}" />
  <xacro:property name="w_upper_trunk" value="${l_upper_trunk/5}" />
  <xacro:property name="w_lower_trunk" value="${l_lower_trunk/2}" />
  <xacro:property name="w_upper_arm" value="${l_upper_arm/3}" />
  <xacro:property name="w_forearm" value="${l_forearm/3}" />
  <xacro:property name="w_hand" value="${l_hand/3}" />
  <xacro:property name="w_thigh" value="${l_thigh/3}" />
  <xacro:property name="w_shank" value="${l_shank/3}" />
  <xacro:property name="w_foot" value="${l_foot/3}" />

  <xacro:property name="cm_head" value="0.361" />
  <xacro:property name="cm_upper_trunk" value="0.497" />
  <xacro:property name="cm_lower_trunk" value="0.518" />
  <xacro:property name="cm_upper_arm" value="0.427" />
  <xacro:property name="cm_forearm" value="0.417" />
  <xacro:property name="cm_hand" value="0.361" />
  <xacro:property name="cm_thigh" value="0.430" />
  <xacro:property name="cm_shank" value="0.443" />
  <xacro:property name="cm_foot" value="0.436" />

  <xacro:property name="d_head" value="1085.1" />
  <xacro:property name="d_upper_trunk" value="1068.6" />
  <xacro:property name="d_lower_trunk" value="1068.6" />
  <xacro:property name="d_upper_arm" value="1088.0" />
  <xacro:property name="d_forearm" value="1108.6" />
  <xacro:property name="d_hand" value="1112.6" />
  <xacro:property name="d_thigh" value="1068.6" />
  <xacro:property name="d_shank" value="1100.2" />
  <xacro:property name="d_foot" value="1089.3" />

  <xacro:include filename="spherical.urdf.xacro"/>
  <xacro:include filename="arm.urdf.xacro"/>
  <create/>

  <xacro:property name="mass" value="${pi*l_upper_arm*pow(w_upper_arm,2)*d_upper_arm}" /> 

  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <!-- <origin rpy="0.0 0.0 0.0" xyz="0 0 ${l_foot+l_shank+l_thigh+l_lower_trunk}"/> -->
    <origin rpy="0.0 0.0 0.0" xyz="0 0 0.05"/>
  </joint>

  <link name="base_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.1"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.1"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="${mass}"/>
      <inertia
        ixx="${mass*(3*pow(w_upper_arm,2)+pow(l_upper_arm,2))/12}" ixy="0.0" ixz="0.0"
        iyy="${mass*(3*pow(w_upper_arm,2)+pow(l_upper_arm,2))/12}" iyz="0.0"
        izz="${mass*pow(w_upper_arm,2)/2}"/>
    </inertial>
  </link>

  <xacro:spherical name="joint_1" parent="base_link" child="link_01">
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </xacro:spherical>

  <!--<xacro:cylindrical_part name="link_02" density="1" cm="1" length="5" radius="2">
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </xacro:cylindrical_part>-->

  <link name="link_01">
      <visual>
        <origin xyz="0 0 ${l_upper_arm/2}" rpy="0 0 0" />
        <geometry>
          <!--<mesh filename="package://pr2_description/meshes/torso_v0/torso_lift.dae"  /> -->
          <cylinder length="${l_upper_arm}" radius="${w_upper_arm}"/>
        </geometry>
        <material name="blue" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="${l_upper_arm}" radius="${w_upper_arm}"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="${mass}"/>
        <inertia
          ixx="${mass*(3*pow(w_upper_arm,2)+pow(l_upper_arm,2))/12}" ixy="0.0" ixz="0.0"
          iyy="${mass*(3*pow(w_upper_arm,2)+pow(l_upper_arm,2))/12}" iyz="0.0"
          izz="${mass*pow(w_upper_arm,2)/2}"/>
      </inertial>
    </link>


</robot>
