<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- Start Gazebo -->
  <arg name="world" default="empty"/> 
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(find imu_human_pkg)/worlds/custom.world"/> -->
    <arg name="world_name" value="$(find imu_human_pkg)/example/worlds/stone_world.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>


  <!-- Spawn human in Gazebo 
  <node name="human_spawn" pkg="gazebo_ros" type="spawn_model" ns="human" output="screen"  args="-urdf -param human_description -model human"/>-->

</launch>

