<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <param name="human_description" command="$(find xacro)/xacro '$(find imu_human_pkg)/urdf/human/chest_included_npose_inertia.xacro'"/>

  <!-- Combine joint values -->
  <node name="human_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="robot_description" to="human_description" />
    <remap from="joint_states" to="human_joint_states" />
  </node>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find imu_human_pkg)/launch/config/config.rviz"/> 

  <!-- publish joint state -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    <remap from="joint_states" to="human_joint_states" />
    <remap from="robot_description" to="human_description" />
  </node>

</launch>

