<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="human_gazebo">

    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/human</robotNamespace>
      </plugin>
    </gazebo>

    <gazebo reference="base_link">
      <turnGravityOff>true</turnGravityOff>
      <static>true</static>
    </gazebo>

  </xacro:macro>

</robot>